


@media (width >= 750px) {
    .grid {
        place-content: center;
        display: grid;
        grid-template-columns: 200px 200px 200px; /* Create 2 columns and auto-place rows */
        gap : 0% 10% 
        
    }    
    
}

@media (width < 750px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr; /* Create 2 columns and auto-place rows */
    }        
}